@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  --white-color: #fff;
  --spon-logo: #7c91a3;
}

@layer components {
  body {
    @apply bg-[#f5f8fa];
  }

  img {
    @apply h-[100%];
  }

  .navbar {
    @apply p-[32px] hidden;
    @apply md:block md:sticky md:bg-white md:w-[100%] md:shadow-md md:p-[15px] md:z-10;
    @apply md:top-0 md:left-0 md:right-0 md:bottom-0;
  }

  .nav-menu {
    @apply flex justify-around items-center;
  }
  .nav-item {
    @apply flex gap-[30px];
  }

  .nav-link {
    @apply flex items-center gap-[6px];
  }

  .nav-item > a {
    @apply opacity-70 text-[#041d34] px-[16px] font-normal;
  }

  .sales {
    @apply border-r-2;
  }

  .nav-link > a {
    @apply text-base font-semibold;
  }

  .button {
    @apply px-[20px] py-[10px] rounded-2xl bg-[#007aff] text-white text-base font-semibold !important;
  }

  .nav-link > a:hover {
    @apply text-[#007aff];
  }

  .nav-item > a:hover {
    @apply text-[#041d34] opacity-100;
  }

  .icons {
    @apply w-[20px] h-[20px];
  }

  /* Nav DropDown */

  .nav-dropdown__info {
    @apply shadow-2xl rounded-xl p-[20px];
  }

  .nav-dropdown__item {
    @apply flex gap-[10px];
  }

  .nav-item__list h3 {
    @apply p-[10px];
  }
  .nav-item__link {
    @apply flex items-center gap-[16px] p-[10px] my-[5px];
  }

  .nav-img-box {
    @apply p-[16px] rounded-full;
  }

  .nav-img {
    @apply w-[30px];
  }

  .dropdown-heading {
    @apply font-medium text-lg mr-[10px];
  }

  .dropdown-discription {
    @apply font-normal text-sm mt-[6px];
  }

  /* Banner */

  .home-banner {
    @apply bg-[#f6d44f] px-[20px];
  }

  .banner-content {
    @apply flex justify-center items-center flex-col p-[10px];
  }
  .banner-box {
    @apply flex w-[600px] justify-center items-center gap-[20px];
  }
  .banner-title {
    @apply text-lg font-bold;
    @apply sm:text-xl font-bold;
  }

  .banner-title span {
    @apply text-[#6c26f1];
  }

  .banner-subtitle {
    @apply w-[300px] text-sm text-center;
  }
  .banner-box div {
    @apply h-[1px] w-full bg-[#ff00d6];
  }

  .home-container {
    @apply p-[32px] m-auto;
    @apply xl:w-[80%] xl:m-auto lg:m-0 lg:w-[100%];
  }

  .hero-container {
    @apply flex-col justify-between items-center rounded-xl bg-black text-white;
    @apply lg:flex lg:flex-row;
  }

  .hero-content {
    @apply p-[30px] flex flex-col justify-between items-start;
  }

  .hero-vid {
    @apply w-[100wv];
  }

  .new-tag {
    @apply pb-[10px];
  }

  .new-tag p {
    @apply bg-red-600 p-[4px] w-[44px] rounded;
  }

  .hero-heading {
    @apply text-4xl font-medium pb-[12px];
  }

  video {
    @apply rounded-r-xl;
  }

  .home-content {
    @apply flex justify-center items-center;
  }

  .content {
    @apply grid grid-cols-1 gap-y-8 justify-center flex-col-reverse items-center mx-[44px] my-[44px];
    @apply sm:grid sm:grid-cols-2 sm:gap-x-8;
  }

  .content-img {
    @apply mt-[16px] mr-[16px];
  }

  .content-title {
    @apply text-2xl font-normal pb-[10px];
    @apply sm:text-4xl sm:font-medium sm:pb-[30px];
  }
  .content-discription {
    @apply text-lg font-normal;
    @apply sm:text-xl sm:font-normal;
  }

  .sponser-logos {
    @apply flex flex-wrap gap-[20px] py-[40px] px-[20px]  justify-between items-center;
  }

  .sponser-logos img {
    @apply opacity-50;
  }

  .content-imgs img {
    @apply w-[56px];
  }
  .content-logo {
    @apply flex justify-between items-center w-[340px] flex-row  py-[20px] px-[20px] shadow-black rounded-xl border my-[20px];
  }

  .content-imgs a {
    @apply text-xl font-medium opacity-40;
  }

  .content-img-center {
    @apply flex justify-center;
  }
  .content-img-end {
    @apply flex justify-end;
  }
  .content-img-start {
    @apply flex justify-start;
  }

  /* Which Section */

  .home-which {
    @apply pb-[100px];
  }

  .which-title {
    @apply flex justify-center mb-[40px];
  }
  .home-which__inner {
    @apply grid  grid-cols-1 gap-[30px];
    @apply md:grid-cols-3;
  }

  .home-which__item {
    @apply flex items-center gap-[20px];
    @apply md:flex-col md:text-center;
  }

  .item-img {
    @apply p-[30px] border rounded-full;
    @apply md:p-[70px];
  }

  .item-img img {
    @apply w-[56px] h-[56px];
  }

  .which-info {
    @apply flex flex-col md:gap-[30px];
  }

  .which-heading {
    @apply text-2xl font-medium;
  }

  .which-description {
    @apply font-normal text-base hidden;
    @apply md:block;
  }

  .which-btn {
    @apply hidden;
    @apply md:block;
  }

  .which-sec_button {
    @apply flex pt-[10px];
    @apply md:hidden;
  }

  .second-btn {
    @apply opacity-50 font-medium text-lg mr-[10px];
  }

  /* Footer */

  .footer-container {
    @apply p-[100px] bg-[#041D34];
  }
  .footer-content {
    @apply flex flex-col gap-[50px] text-center justify-center items-center;
    @apply lg:grid lg:grid-cols-4 lg:items-start lg:text-start;
  }

  .footer-heading {
    @apply font-normal text-xl uppercase;
  }

  .footer-list {
    @apply flex flex-col gap-[30px] mr-[30px] text-white font-medium;
  }

  /* Blog */

  .blog-article img {
    @apply h-[100%];
  }

  .blog-img img {
    @apply rounded-2xl;
  }

  .blog-container {
    @apply w-[90%] m-auto py-[20px];
  }

  .blog-hero-container {
    @apply flex flex-col-reverse shadow-2xl rounded-xl;
    @apply lg:grid sm:grid-cols-2 lg:flex-row;
  }

  .blog-article-container {
    /* display: grid;
    grid-template-columns: 2fr 2fr; */
    @apply flex flex-col shadow-2xl rounded-xl;
    @apply lg:grid lg:grid-cols-2;
  }

  .blog-category {
    @apply flex items-center justify-between  flex-col-reverse gap-[30px];
  }

  .category-list {
    @apply flex flex-wrap gap-[30px];
  }
  .category-link {
    @apply font-medium text-base py-[12px] px-[20px] rounded-full;
  }

  /* Business  */

  .bus-item-box {
    @apply flex justify-center items-center gap-[100px] p-[50px];
  }

  .bus-items {
    @apply flex flex-col gap-[20px] max-w-[640px];
  }

  .bus-cta {
    @apply flex rounded-2xl flex-col items-center mb-[40px] pt-[160px] pb-[220px] px-[40px] relative;
  }

  .bus-cta-img {
    @apply w-full bottom-0 flex justify-center items-center absolute;
  }
}
